.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-right {
	font-size:calc(13/10)*1rem;
	width:calc(6/13)*1em;
}
.icon-chat {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-close {
	font-size:calc(20/10)*1rem;
	width:calc(20/20)*1em;
}
.icon-envelope {
	font-size:calc(14/10)*1rem;
	width:calc(16/14)*1em;
}
.icon-home {
	font-size:calc(20/10)*1rem;
	width:calc(21/20)*1em;
}
.icon-location {
	font-size:calc(18/10)*1rem;
	width:calc(14/18)*1em;
}
.icon-mail {
	font-size:calc(14/10)*1rem;
	width:calc(16/14)*1em;
}
.icon-phone {
	font-size:calc(16/10)*1rem;
	width:calc(16/16)*1em;
}
.icon-search {
	font-size:calc(21/10)*1rem;
	width:calc(21/21)*1em;
}
.icon-tel {
	font-size:calc(20/10)*1rem;
	width:calc(20/20)*1em;
}
.icon-ui--apartament {
	font-size:calc(19/10)*1rem;
	width:calc(19/19)*1em;
}
.icon-ui--area-kithen {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--balcony {
	font-size:calc(15/10)*1rem;
	width:calc(25/15)*1em;
}
.icon-ui--buy {
	font-size:calc(17/10)*1rem;
	width:calc(15/17)*1em;
}
.icon-ui--ceilings {
	font-size:calc(25/10)*1rem;
	width:calc(20/25)*1em;
}
.icon-ui--condition {
	font-size:calc(27/10)*1rem;
	width:calc(25/27)*1em;
}
.icon-ui--conditioner {
	font-size:calc(24/10)*1rem;
	width:calc(25/24)*1em;
}
.icon-ui--cottage {
	font-size:calc(17/10)*1rem;
	width:calc(19/17)*1em;
}
.icon-ui--dog {
	font-size:calc(21/10)*1rem;
	width:calc(21/21)*1em;
}
.icon-ui--electicity {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--elevator {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--entrance {
	font-size:calc(28/10)*1rem;
	width:calc(20/28)*1em;
}
.icon-ui--fence {
	font-size:calc(17/10)*1rem;
	width:calc(19/17)*1em;
}
.icon-ui--fridge {
	font-size:calc(28/10)*1rem;
	width:calc(20/28)*1em;
}
.icon-ui--garage {
	font-size:calc(17/10)*1rem;
	width:calc(19/17)*1em;
}
.icon-ui--gas {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--home {
	font-size:calc(16/10)*1rem;
	width:calc(19/16)*1em;
}
.icon-ui--kids {
	font-size:calc(22/10)*1rem;
	width:calc(25/22)*1em;
}
.icon-ui--land {
	font-size:calc(19/10)*1rem;
	width:calc(19/19)*1em;
}
.icon-ui--microwave {
	font-size:calc(18/10)*1rem;
	width:calc(25/18)*1em;
}
.icon-ui--parking {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--rent {
	font-size:calc(19/10)*1rem;
	width:calc(18/19)*1em;
}
.icon-ui--sea {
	font-size:calc(23/10)*1rem;
	width:calc(19/23)*1em;
}
.icon-ui--security {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--square {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--stove {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--trash {
	font-size:calc(25/10)*1rem;
	width:calc(23/25)*1em;
}
.icon-ui--tv {
	font-size:calc(20/10)*1rem;
	width:calc(25/20)*1em;
}
.icon-ui--washer {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-ui--wifi {
	font-size:calc(18/10)*1rem;
	width:calc(25/18)*1em;
}
