extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Купить квартиру'}
block content_block
	section.topPage(style="background-image: url('../../i/shop/top.jpg');")
		.section_in 
			.topPage_main 
				h1 Купить квартиру
	section.shop 
		.section_in 
			.shop_main_w
				.shop_sidebar_w 
					.shop_sidebar 
						.shop_sidebar_title Параметры поиска
						.sidebar_form 
							form(action="" class="form_filter")
								.filter_geo.global_input  
									input(type="search" placeholder="Местоположение")
									ul.filter_geo_result 
										each item in ['Тимашевск', 'Туапсе']
											li 
												a(href="#")=item
								.global_select 
									select(name="room_state")
										-for(i = 0; i < 5; i++)
											option(value="Сколько комнат") Сколько комнат
								.input_group_w 
									p Площадь:
									.input_group
										+input({
											place: 'от 0',
											type: 'number',
											class: 'input_before'
										})
										+input({
											place: 'до 0',
											type: 'number',
											class: 'input_after'
										})
										.after_infput_mode м2
								.input_group_w
									p Цена:
									.input_group.grid-1
										+input({
											place: 'от 0',
											type: 'number',
											class: 'input_price_before'
										})
										+input({
											place: 'до 0',
											type: 'number',
											class: 'input_price_after'
										})
								.global_select 
									select(name="rieltor_state")
										-for(i = 0; i < 5; i++)
											option(value="Риэлторы") Риэлторы
								+btn({
									btn: true,
									type: 'submit',
									name: 'показать',
									icon: true
								})
				.shop_main
					.shop_main_head
						.shop_filter_trigger Параметры поиска
						.shop_count!='Найдено: <span id="object_count">550</span> предложений'
						+sort({
							class: ''
						})
					.shop_list_w 
						ul.shop_list 
							-for(i = 0; i < 5; i++)
								li
									+horizen
					+pagination({
						pages:5,
						arrows:true
					})